<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmsj.magina.dao.BAreaMapper">
  <resultMap id="BaseResultMap" type="com.zmsj.magina.model.BArea">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="code" property="code" jdbcType="VARCHAR"/>
    <result column="charge_name" property="chargeName" jdbcType="VARCHAR"/>
    <result column="charge_contact" property="chargeContact" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_user" property="createUser" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
    <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
    <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zmsj.magina.model.BAreaWithBLOBs"
    extends="BaseResultMap">
    <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
    <result column="lat_lng" property="latLng" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, charge_name, charge_contact, create_time, create_user, update_time, 
    update_user
  </sql>
  <sql id="Blob_Column_List">
    remark, lat_lng
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listAll" resultType="com.zmsj.magina.model.BArea">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_area
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from b_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmsj.magina.model.BAreaWithBLOBs">
    insert into b_area (id, name, code,
                        charge_name, charge_contact, create_time,
                        create_user, update_time, update_user,
                        remark, lat_lng)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
            #{chargeName,jdbcType=VARCHAR}, #{chargeContact,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=INTEGER},
            #{remark,jdbcType=LONGVARCHAR}, #{latLng,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmsj.magina.model.BAreaWithBLOBs">
    insert into b_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="chargeName != null">
        charge_name,
      </if>
      <if test="chargeContact != null">
        charge_contact,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="latLng != null">
        lat_lng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null">
        #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="chargeContact != null">
        #{chargeContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="latLng != null">
        #{latLng,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmsj.magina.model.BAreaWithBLOBs">
    update b_area
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null">
        charge_name = #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="chargeContact != null">
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="latLng != null">
        lat_lng = #{latLng,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zmsj.magina.model.BAreaWithBLOBs">
    update b_area
    set name           = #{name,jdbcType=VARCHAR},
        code           = #{code,jdbcType=VARCHAR},
        charge_name    = #{chargeName,jdbcType=VARCHAR},
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
        create_time    = #{createTime,jdbcType=TIMESTAMP},
        create_user    = #{createUser,jdbcType=INTEGER},
        update_time    = #{updateTime,jdbcType=TIMESTAMP},
        update_user    = #{updateUser,jdbcType=INTEGER},
        remark         = #{remark,jdbcType=LONGVARCHAR},
        lat_lng        = #{latLng,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmsj.magina.model.BArea">
    update b_area
    set name           = #{name,jdbcType=VARCHAR},
        code           = #{code,jdbcType=VARCHAR},
        charge_name    = #{chargeName,jdbcType=VARCHAR},
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
        create_time    = #{createTime,jdbcType=TIMESTAMP},
        create_user    = #{createUser,jdbcType=INTEGER},
        update_time    = #{updateTime,jdbcType=TIMESTAMP},
        update_user    = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>