<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmsj.magina.dao.BMonitorDeviceMapper">
  <resultMap id="BaseResultMap" type="com.zmsj.magina.model.BMonitorDevice">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="device_name" property="deviceName" jdbcType="VARCHAR"/>
    <result column="device_code" property="deviceCode" jdbcType="VARCHAR"/>
    <result column="monitoring_station_id" property="monitoringStationId" jdbcType="INTEGER"/>
    <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
    <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR"/>
    <result column="manufacturer_charge_name" property="manufacturerChargeName" jdbcType="VARCHAR"/>
    <result column="manufacturer_charge_contact" property="manufacturerChargeContact"
      jdbcType="VARCHAR"/>
    <result column="frequency" property="frequency" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_user" property="createUser" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
    <result column="is_camera" property="isCamera" jdbcType="CHAR"/>
    <result column="camera_ip" property="cameraIp" jdbcType="VARCHAR"/>
    <result column="carmera_prot" property="carmeraProt" jdbcType="VARCHAR"/>
    <result column="carmera_name" property="carmeraName" jdbcType="VARCHAR"/>
    <result column="carmera_password" property="carmeraPassword" jdbcType="VARCHAR"/>
    <result column="icon_name" property="iconName" jdbcType="VARCHAR"/>
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR"/>
    <result column="location" property="location" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zmsj.magina.model.BMonitorDevice"
    extends="BaseResultMap">
    <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, device_name, device_code, monitoring_station_id, longitude, latitude, status, 
    manufacturer, manufacturer_charge_name, manufacturer_charge_contact, frequency, create_time, 
    create_user, update_time, update_user, is_camera, camera_ip, carmera_prot, carmera_name, 
    carmera_password, icon_name, icon_url,location
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitor_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listByStationIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitor_device
    <if test="stationIds != null">
      <where>
        monitoring_station_id in
        <foreach collection="stationIds" index="index" item="item" open="(" separator="," close=")">
          #{item,jdbcType=INTEGER}
        </foreach>
      </where>
    </if>
  </select>
  <select id="listAll" resultType="com.zmsj.magina.model.BMonitorDevice">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitor_device
  </select>
  <select id="listByStationIdsAndDeviceNameAndStatus"
    resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitor_device
    <where>
      <if test="stationIds != null and !stationIds.isEmpty()">
        and monitoring_station_id in
        <foreach collection="stationIds" item="stationId" index="index" open="(" close=")"
          separator=",">
          #{stationId}
        </foreach>
      </if>
      <if test="deviceName !=null and deviceName !=''">
        and device_name LIKE CONCAT('%',#{deviceName},'%')
      </if>
      <if test="status !=null and status != ''">and status=#{status}</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from b_monitor_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmsj.magina.model.BMonitorDevice">
    insert into b_monitor_device (id, device_name, device_code,
                                  monitoring_station_id, longitude, latitude,
                                  status, manufacturer, manufacturer_charge_name,
                                  manufacturer_charge_contact, frequency, create_time,
                                  create_user, update_time, update_user,
                                  is_camera, camera_ip, carmera_prot,
                                  carmera_name, carmera_password, icon_name,
                                  icon_url, remark)
    values (#{id,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR},
            #{monitoringStationId,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE},
            #{latitude,jdbcType=DOUBLE},
            #{status,jdbcType=CHAR}, #{manufacturer,jdbcType=VARCHAR},
            #{manufacturerChargeName,jdbcType=VARCHAR},
            #{manufacturerChargeContact,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{createUser,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=INTEGER},
            #{isCamera,jdbcType=CHAR}, #{cameraIp,jdbcType=VARCHAR},
            #{carmeraProt,jdbcType=VARCHAR},
            #{carmeraName,jdbcType=VARCHAR}, #{carmeraPassword,jdbcType=VARCHAR},
            #{iconName,jdbcType=VARCHAR},
            #{iconUrl,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmsj.magina.model.BMonitorDevice">
    insert into b_monitor_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceCode != null">
        device_code,
      </if>
      <if test="monitoringStationId != null">
        monitoring_station_id,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="manufacturerChargeName != null">
        manufacturer_charge_name,
      </if>
      <if test="manufacturerChargeContact != null">
        manufacturer_charge_contact,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="isCamera != null">
        is_camera,
      </if>
      <if test="cameraIp != null">
        camera_ip,
      </if>
      <if test="carmeraProt != null">
        carmera_prot,
      </if>
      <if test="carmeraName != null">
        carmera_name,
      </if>
      <if test="carmeraPassword != null">
        carmera_password,
      </if>
      <if test="iconName != null">
        icon_name,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="monitoringStationId != null">
        #{monitoringStationId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerChargeName != null">
        #{manufacturerChargeName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerChargeContact != null">
        #{manufacturerChargeContact,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isCamera != null">
        #{isCamera,jdbcType=CHAR},
      </if>
      <if test="cameraIp != null">
        #{cameraIp,jdbcType=VARCHAR},
      </if>
      <if test="carmeraProt != null">
        #{carmeraProt,jdbcType=VARCHAR},
      </if>
      <if test="carmeraName != null">
        #{carmeraName,jdbcType=VARCHAR},
      </if>
      <if test="carmeraPassword != null">
        #{carmeraPassword,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null">
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmsj.magina.model.BMonitorDevice">
    update b_monitor_device
    <set>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="monitoringStationId != null">
        monitoring_station_id = #{monitoringStationId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerChargeName != null">
        manufacturer_charge_name = #{manufacturerChargeName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerChargeContact != null">
        manufacturer_charge_contact = #{manufacturerChargeContact,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="isCamera != null">
        is_camera = #{isCamera,jdbcType=CHAR},
      </if>
      <if test="cameraIp != null">
        camera_ip = #{cameraIp,jdbcType=VARCHAR},
      </if>
      <if test="carmeraProt != null">
        carmera_prot = #{carmeraProt,jdbcType=VARCHAR},
      </if>
      <if test="carmeraName != null">
        carmera_name = #{carmeraName,jdbcType=VARCHAR},
      </if>
      <if test="carmeraPassword != null">
        carmera_password = #{carmeraPassword,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null">
        icon_name = #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zmsj.magina.model.BMonitorDevice">
    update b_monitor_device
    set device_name                 = #{deviceName,jdbcType=VARCHAR},
        device_code                 = #{deviceCode,jdbcType=VARCHAR},
        monitoring_station_id       = #{monitoringStationId,jdbcType=INTEGER},
        longitude                   = #{longitude,jdbcType=DOUBLE},
        latitude                    = #{latitude,jdbcType=DOUBLE},
        status                      = #{status,jdbcType=CHAR},
        manufacturer                = #{manufacturer,jdbcType=VARCHAR},
        manufacturer_charge_name    = #{manufacturerChargeName,jdbcType=VARCHAR},
        manufacturer_charge_contact = #{manufacturerChargeContact,jdbcType=VARCHAR},
        frequency                   = #{frequency,jdbcType=INTEGER},
        create_time                 = #{createTime,jdbcType=TIMESTAMP},
        create_user                 = #{createUser,jdbcType=INTEGER},
        update_time                 = #{updateTime,jdbcType=TIMESTAMP},
        update_user                 = #{updateUser,jdbcType=INTEGER},
        is_camera                   = #{isCamera,jdbcType=CHAR},
        camera_ip                   = #{cameraIp,jdbcType=VARCHAR},
        carmera_prot                = #{carmeraProt,jdbcType=VARCHAR},
        carmera_name                = #{carmeraName,jdbcType=VARCHAR},
        carmera_password            = #{carmeraPassword,jdbcType=VARCHAR},
        icon_name                   = #{iconName,jdbcType=VARCHAR},
        icon_url                    = #{iconUrl,jdbcType=VARCHAR},
        remark                      = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmsj.magina.model.BMonitorDevice">
    update b_monitor_device
    set device_name                 = #{deviceName,jdbcType=VARCHAR},
        device_code                 = #{deviceCode,jdbcType=VARCHAR},
        monitoring_station_id       = #{monitoringStationId,jdbcType=INTEGER},
        longitude                   = #{longitude,jdbcType=DOUBLE},
        latitude                    = #{latitude,jdbcType=DOUBLE},
        status                      = #{status,jdbcType=CHAR},
        manufacturer                = #{manufacturer,jdbcType=VARCHAR},
        manufacturer_charge_name    = #{manufacturerChargeName,jdbcType=VARCHAR},
        manufacturer_charge_contact = #{manufacturerChargeContact,jdbcType=VARCHAR},
        frequency                   = #{frequency,jdbcType=INTEGER},
        create_time                 = #{createTime,jdbcType=TIMESTAMP},
        create_user                 = #{createUser,jdbcType=INTEGER},
        update_time                 = #{updateTime,jdbcType=TIMESTAMP},
        update_user                 = #{updateUser,jdbcType=INTEGER},
        is_camera                   = #{isCamera,jdbcType=CHAR},
        camera_ip                   = #{cameraIp,jdbcType=VARCHAR},
        carmera_prot                = #{carmeraProt,jdbcType=VARCHAR},
        carmera_name                = #{carmeraName,jdbcType=VARCHAR},
        carmera_password            = #{carmeraPassword,jdbcType=VARCHAR},
        icon_name                   = #{iconName,jdbcType=VARCHAR},
        icon_url                    = #{iconUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>