<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmsj.magina.dao.BMonitoringStationMapper">
  <resultMap id="BaseResultMap" type="com.zmsj.magina.model.BMonitoringStation">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
    <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
    <result column="area_id" property="areaId" jdbcType="INTEGER"/>
    <result column="charge_name" property="chargeName" jdbcType="VARCHAR"/>
    <result column="charge_contact" property="chargeContact" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="CHAR"/>
    <result column="picture_path" property="picturePath" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="create_user" property="createUser" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zmsj.magina.model.BMonitoringStation"
    extends="BaseResultMap">
    <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, longitude, latitude, area_id, charge_name, charge_contact, status, picture_path, 
    create_time, create_user, update_time, update_user
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitoring_station
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listByArea" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from b_monitoring_station
    where area_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="listAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitoring_station
  </select>
  <select id="selectByAreaId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from b_monitoring_station
    <where>
      <if test="areaId != -1">
        area_id=#{areaId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from b_monitoring_station
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmsj.magina.model.BMonitoringStation">
    insert into b_monitoring_station (id, name, longitude,
                                      latitude, area_id, charge_name,
                                      charge_contact, status, picture_path,
                                      create_time, create_user, update_time,
                                      update_user, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE},
            #{latitude,jdbcType=DOUBLE}, #{areaId,jdbcType=INTEGER}, #{chargeName,jdbcType=VARCHAR},
            #{chargeContact,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
            #{picturePath,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=INTEGER},
            #{updateTime,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=INTEGER}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmsj.magina.model.BMonitoringStation">
    insert into b_monitoring_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="chargeName != null">
        charge_name,
      </if>
      <if test="chargeContact != null">
        charge_contact,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="picturePath != null">
        picture_path,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="chargeName != null">
        #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="chargeContact != null">
        #{chargeContact,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="picturePath != null">
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmsj.magina.model.BMonitoringStation">
    update b_monitoring_station
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="chargeName != null">
        charge_name = #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="chargeContact != null">
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="picturePath != null">
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zmsj.magina.model.BMonitoringStation">
    update b_monitoring_station
    set name           = #{name,jdbcType=VARCHAR},
        longitude      = #{longitude,jdbcType=DOUBLE},
        latitude       = #{latitude,jdbcType=DOUBLE},
        area_id        = #{areaId,jdbcType=INTEGER},
        charge_name    = #{chargeName,jdbcType=VARCHAR},
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
        status         = #{status,jdbcType=CHAR},
        picture_path   = #{picturePath,jdbcType=VARCHAR},
        create_time    = #{createTime,jdbcType=TIMESTAMP},
        create_user    = #{createUser,jdbcType=INTEGER},
        update_time    = #{updateTime,jdbcType=TIMESTAMP},
        update_user    = #{updateUser,jdbcType=INTEGER},
        remark         = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmsj.magina.model.BMonitoringStation">
    update b_monitoring_station
    set name           = #{name,jdbcType=VARCHAR},
        longitude      = #{longitude,jdbcType=DOUBLE},
        latitude       = #{latitude,jdbcType=DOUBLE},
        area_id        = #{areaId,jdbcType=INTEGER},
        charge_name    = #{chargeName,jdbcType=VARCHAR},
        charge_contact = #{chargeContact,jdbcType=VARCHAR},
        status         = #{status,jdbcType=CHAR},
        picture_path   = #{picturePath,jdbcType=VARCHAR},
        create_time    = #{createTime,jdbcType=TIMESTAMP},
        create_user    = #{createUser,jdbcType=INTEGER},
        update_time    = #{updateTime,jdbcType=TIMESTAMP},
        update_user    = #{updateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>